@model F1005.Models.StockHistory
@{
    ViewBag.Title = "Home Page";
}


<div class="row">

</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <a class="nav-link disabled" href="#Pagestockbuy" data-toggle="tab" role="tab">買進股票</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#PagestockSell" data-toggle="tab" role="tab">賣出股票</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#PagestockEXD" data-toggle="tab" role="tab">除息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#PagestockEXS" data-toggle="tab" role="tab">除權</a>
            </li>

        </ul>
        <div class="tab-content " id="myTabContent">

            <div class="tab-pane active" id="Pagestockbuy" role="tabpanel">
                @Html.Partial("_StockBuyPartial")
            </div>

            <div class="tab-pane fade" id="PagestockSell" role="tabpanel">
                @Html.Partial("_StockSellPartial")

            </div>

            <div class="tab-pane fade" id="PagestockEXD" role="tabpanel">
                @Html.Partial("_StockEXDPartial")

            </div>
            <div class="tab-pane fade" id="PagestockEXS" role="tabpanel">
                @Html.Partial("_StockEXSPartial")

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#AccountTabel" data-toggle="tab" role="tab">股票帳戶概覽</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#TradeDataTable" data-toggle="tab" role="tab">交易記錄總覽</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#InvTable" data-toggle="tab" role="tab">庫存明細</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#NetincomeTable" data-toggle="tab" role="tab">損益試算</a>
                    </li>

                </ul>
                <div class="tab-content " id="myTabContent">

                    <div class="tab-pane fade" id="AccountTable" role="tabpanel">
                        @*@Html.Partial("_StockAccountTable")*@
                    </div>

					<div class="tab-pane fade" id="TradeDataTable" role="tabpanel">
						@*@Html.Partial("_StockTradeDataTable")*@
						@Html.Partial("_StockGetAllPartial");
					</div>
                    <div class="tab-pane fade" id="InvTable" role="tabpanel">
                        @*@Html.Partial("_StockSellPartial")*@

                    </div>
                    <div class="tab-pane fade" id="NetincomeTable" role="tabpanel">
                        @*@Html.Partial("_StockSellPartial")*@

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $("#UserName").val("@Session["User"]");
        ////檢查現金餘額是否足夠
        //var checkcash = $("#CashAccount").prop("checked");
        //var exp = parseInt($("#stockNetincome").val());
        //var cashacc=parseInt($)
        //var
        //if (checkcash&) {

        //}



        //計算成本
        function CalculateCost() {
            var TotalCost = 0;
            var BEPoint = 0;
            var Amount = document.getElementById("StockbuyAmount").value*1000;
            var Price = (document.getElementById("StockbuyPrice").value) ;
            var Feerate = (document.getElementById("StockbuyFeerate").value) / 1000;
            var FeeMin = (document.getElementById("StockbuyMinFee").value);
            var _Fee = parseInt(Amount * Price * Feerate*0.6);
            TotalFee = (_Fee > FeeMin) ? _Fee : FeeMin;
            TotalCost = Amount * Price +TotalFee;
            BEPoint = Price * (1 - Feerate) / (1 - Feerate - 0.003) ;
            document.getElementById("stockFee").value = parseInt(TotalCost);
            document.getElementById("stockTax").value = 0;
            document.getElementById("stockNetincome").value = (0-TotalCost).toFixed(0);
            document.getElementById("StockbuyBEPoint").value = BEPoint.toFixed(2);
            var CashAcc = $("#CashAcc").val();
            if (TotalCost > CashAcc) {
                $("#UseCashAcc").attr("disabled",true)
            }
        }
        //比對存款是否足夠
        function CompareCashAcc() {
            var TotalCost = ($("#stockNetincome").val())*(-1);
            var CashAcc = $("#CashAcc").val();

            if (TotalCost > CashAcc) {
                $("#UseCashAcc").prop("checked",false)
               //$("#UseCashAcc").removeAttr("checked")
                $("#UseCashAcc").attr("disabled", true)

            }
            else {
                $("#UseCashAcc").prop("checked", false)
                //$("#UseCashAcc").removeAttr("checked")
                $("#UseCashAcc").attr("disabled", false)

            }
        }


        function CalculateTP() {

            var Amount = document.getElementById("StockbuyAmount").value;
            var Price = (document.getElementById("StockbuyPrice").value) * 1000;
            var Feerate = (document.getElementById("StockbuyFeerate").value) / 1000;
            var ERR = (document.getElementById("StockbuyERR").value) / 100
            var TP = 0;
            var ER = 0;
            TotalCost = Amount * Price * (1 + Feerate);
            TP = TotalCost * (1 + ERR) / (Amount * (1 - Feerate - 0.003)) / 1000
            ER = (TP * Amount * 1000) - TotalCost
            document.getElementById("StockbuyTP").value = TP.toFixed(2);
            document.getElementById("StockbuyER").value = ER.toFixed(0);


        };

               //買進查詢現金餘額
        $(function() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Cash", "Stock")",

            }).done(function (result) {

                document.getElementById("CashAcc").value = result;

            }).fail(function (err) {
                var content = JSON.parse(err);
                alert(content);
            });

        });



        //查詢庫存
        function SearchInv() {
            var SearchID = document.getElementById('StocksellID').value;
            //alert(SearchID)
            $.ajax({
                type: "GET",
                url: "@Url.Action("Cost", "Stock")",
                data: "searchid=" + SearchID
            }).done(function (result) {
                if (result == "無庫存") {
                    document.getElementById("StocksellInv").value = result;
                    document.getElementById("StocksellAvc").value = result;
                }
                else {
                    document.getElementById("StocksellInv").value = (result[0].Inv);
                    document.getElementById("StocksellAvc").value = result[0].Avgcost.toFixed(2);
                }
            }).fail(function (err) {
                alert(err.responseText);
            });
        };

        //計算賣出獲利
            function CalculateProfit() {
                var Avc = document.getElementById("StocksellAvc").value;
                var Inv = document.getElementById("StocksellInv").value;
                var SellAmount = document.getElementById("StocksellAmount").value*1000;
                var SellPrice = (document.getElementById("StocksellPrice").value) ;
                var Feerate = (document.getElementById("StocksellFeerate").value) / 1000;
                var Taxrate = (document.getElementById("StocksellTaxrate").value) / 1000;
                var Netincome=0

                var TotalProfit = SellPrice * SellAmount * (1 - Feerate - Taxrate);
                var TotalCost = Avc * SellAmount;
                Netincome = TotalProfit - TotalCost;
                RR = Netincome / TotalCost * 100;
                //沒辦法傳公式 可能型別錯誤
                document.getElementById("stockSellFee").value =parseInt(SellPrice * SellAmount * Feerate);
                document.getElementById("stockSellTax").value = parseInt(SellPrice * SellAmount * Taxrate);
                document.getElementById("stocksellNetincome").value =Netincome.toFixed(0);
                document.getElementById("StocksellReturnrate").value = RR.toFixed(2);

            }
                //除息查詢庫存
        function SearchEXDInv() {
            var SearchID = document.getElementById('StockEXDID').value;
            //alert(SearchID)
            $.ajax({
                type: "GET",
                url: "@Url.Action("EXDCost", "Stock")",
                data: "searchid=" + SearchID
            }).done(function (result) {
                if (result == "無庫存") {
                    document.getElementById("StockCDivInv").value = result;
                    document.getElementById("StockCDivAvc").value = result;
                }
                else {
                    document.getElementById("StockCDivInv").value = result[0].Inv;
                    document.getElementById("StockCDivAvc").value = result[0].Avgcost.toFixed(2);
                }
            }).fail(function (err) {
                alert(err.responseText);
            });
        };
            //計算除息
        function CalculateEXD() {
            //現金收入=每股現金股利*庫存數量
            //報酬率=每股現金股利/成本
            //資料表欄位:股數=0、金額=每股現金股利
            //除息後每股成本=參與除息每股成本-每股現金股利


            var CashDiv = document.getElementById("CashDDiv").value;                 //每股現金股利
            var StockDivInv = document.getElementById("StockCDivInv").value;  //參與除息庫存
            var StockDivAvc = document.getElementById("StockCDivAvc").value;  //參與除息每股成本
            var Netincome =parseInt( CashDiv * StockDivInv*1000) ;                                            //現金收入
            var DivR = CashDiv / StockDivAvc * 100;                                                            //報酬率

            document.getElementById("StockCDivNetincome").value = Netincome;
            document.getElementById("StockCDivR").value = DivR.toFixed(2);

            document.getElementById("StockCDivInvN").value =parseInt( StockDivInv);
            document.getElementById("StockCDivAvcN").value = (StockDivAvc - CashDiv).toFixed(2);

        };


       //除權查詢庫存
        function SearchEXSInv() {
            var SearchID = document.getElementById('StockEXSID').value;
            //alert(SearchID)
            $.ajax({
                type: "GET",
                url: "@Url.Action("EXSCost", "Stock")",
                data: "searchid=" + SearchID
            }).done(function (result) {
                if (result == "無庫存") {
                    document.getElementById("EXSDivInv").value = result;
                    document.getElementById("EXSDivAvc").value = 0;
                }
                else {
                    document.getElementById("EXSDivInv").value = result[0].Inv;
                    document.getElementById("EXSDivAvc").value = result[0].Avgcost.toFixed(2);
                }


                }).fail(function (err) {
                    var content = JSON.parse(err);
                alert(content);
            });
        };
                                //計算除權
        function CalculateEXSD() {
            //現金收入=0
            //報酬率=每股現金股利/成本
            //資料表欄位:股數=0、金額=每股現金股利
            //除息後每股成本=參與除息每股成本-每股現金股利


            var StockDiv = document.getElementById("StockSDiv").value;                 //每股現金股利
            var StockSDivInv = document.getElementById("EXSDivInv").value;  //參與除息庫存
            var StockSDivAvc = document.getElementById("EXSDivAvc").value;  //參與除息每股成本
            var StockSDivInvN = ((StockDiv / 10)*1000 + parseInt(StockSDivInv*1000));

            document.getElementById("StockSDivNetincome").value = 0;
            document.getElementById("StockSDivR").value ="NA";

            document.getElementById("StockSDivInvN").value = parseFloat(StockSDivInvN / 1000).toFixed(3);
            document.getElementById("StockSDivAvcN").value = ((StockSDivInv * StockSDivAvc*1000) / (StockSDivInvN)).toFixed(2);
            document.getElementById("StockDivDiff").value = parseInt(StockSDivInvN - StockSDivInv*1000);


        }

        function LoadJsGrid() {
			$.ajax({
					type: "Get",
					url: "@Url.Action("GetAllList", "Stock")",
				}).done(function (res) {
					var MyDateField = function (config) {
						jsGrid.Field.call(this, config);
				};
					//MyDateField.prototype = new jsGrid.Field({

					//	css: "date-field",            // redefine general property 'css'
					//	align: "center",              // redefine general property 'align'
					//	myCustomProperty: "foo",      // custom property

					//	sorter: function (date1, date2) {
					//		return new Date(date1) - new Date(date2);
					//	},

					//	itemTemplate: function (value) {
					//		return new Date(value).toDateString();
					//	},

					//	insertTemplate: function (value) {
					//		return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
					//	},

					//	editTemplate: function (value) {
					//		return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
					//	},

					//	insertValue: function () {
					//		return this._insertPicker.datepicker("getDate").toISOString();
					//	},

					//	editValue: function () {
					//		return this._editPicker.datepicker("getDate").toISOString();
					//	}
					//});

					//jsGrid.fields.date = MyDateField;



					$("#jsGridIncome").jsGrid({
						width: "100%",
						height: "400px",

						//filtering: true,
						inserting: true,
						editing: true,
						sorting: true,
						paging: true,
						autoload: true,
						pageSize: 5,
						pageButtonCount: 5,
						deleteConfirm: "確定要刪除這筆資料?",
						pagerFormat: "頁數: {first} {prev} {pages} {next} {last}    {pageIndex} 之 {pageCount}",
						pagePrevText: "上一頁",
						pageNextText: "下一頁",
						pageFirstText: "第一頁",
						pageLastText: "最終頁",
						noDataContent: "目前沒有紀錄",

						data: res,

						@*controller: {
							loadData: function (filter) {
								return $.ajax({
									type: "GET",
									url: "@Url.Action("GetAllIncome", "CashIncomes")",
									data: filter
								});
							},

							insertItem: function (item) {
								return $.ajax({
									type: "POST",
									url: "@Url.Action("InsertIncome", "CashIncomes")",
									data: item
								}).done(function () {
									$("#jsGridIncome").jsGrid("loadData");
									$.notify("新增成功", "success");
									GetIncomeHis();
									LoadDoughnut();
									LoadPie();
									GetBalance();
								})
							},

							updateItem: function (item) {
								return $.ajax({
									type: "PUT",
									url: "@Url.Action("EditIncome", "CashIncomes")",
									data: item
								}).done(function () {
									$("#jsGridIncome").jsGrid("loadData");
									$.notify("修改成功", "success");
									GetIncomeHis();
									LoadDoughnut();
									LoadPie();
									GetBalance();
								});
							},

							deleteItem: function (item) {
								var id = item.InCashID;
								return $.ajax({
									type: "Delete",
									url: "@Url.Action("DeleteIncome", "CashIncomes")/" + id,
									data: item
								}).done(function (res) {
									$("#jsGridIncome").jsGrid("loadData");
									$.notify("刪除成功", "success");
									GetIncomeHis();
									LoadDoughnut();
									LoadPie();
									GetBalance();
								});
							},
						},*@

						fields: [
							{ name: "stockDate", type: "text", title: "交易日期", width: 100 },
							{ name: "stockID", type: "text", title: "股票代碼", width: 100 },
							{ name: "stockPrice", type: "text", title: "股價", width: 100 },
							{ name: "stockAmount", type: "text", title: "股數", width: 100 },
							{ name: "stockTP", type: "text", title: "目標價", width: 100 },
							{ name: "stockFee", type: "text", title: "手續費", width: 100 },
							{ name: "stockTax", type: "text", title: "證交稅", width: 100 },
							{ name: "stockNetincome", type: "text", title: "資金收付", width: 100 },
							{ name: "stockNote", type: "text", title: "筆記", width: 100 },
							{ type: "control" }
						],

					});
				}).fail(function (err) {
					alert("Error");
				});
		}

		$(document).ready(function () {
			LoadJsGrid();
		});

    </script>
}