<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 資訊策進會MSIT119</title>
    @Styles.Render("~/Content/css")

    @*3Dscroll*@
    <link href="~/Areas/Main/3DScroll/3Dsite.css" rel="stylesheet" />
    <link href="~/Areas/Main/3DScroll/tiltedpage-scroll.css" rel="stylesheet" />

    <link href="~/Areas/Main/Smartmenus/sm-core-css.css" rel="stylesheet" />
    <link href="~/Areas/Main/Smartmenus/sm-blue.css" rel="stylesheet" />

    <link href="~/Content/jsgrid/jsgrid.min.css" rel="stylesheet" />
    <link href="~/Content/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />

    @*<style>
        body{
            font-family:'Microsoft JhengHei';
        }
    </style>*@


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")


    @RenderSection("styles", required: false)

    <script>

        function ColorChange() {
            $("#ColorChange").css("color", "darkgray");
        }

        function ColorChangeO() {
            $("#ColorChange").css("color", "black");
        }

        $(function () {
            $("#ColorChangeO").mouseover(ColorChange);
            $("#ColorChangeO").mouseout(ColorChangeO);
            $("#ColorChangeO").click(ColorChange);

            $("#ColorChangeO").css("width", "170px");
            $("#MenuWidth").css("width", "170px");


        });

    </script>
</head>
<body style="background-color:white; font-family:Arial,'Microsoft JhengHei'">

	<div style="height:300px; width:1900px">
		<img src="~/Areas/Main/Images/HeaderIMG.jpg" style="height:100%; width:100%;" />
	</div>
	<ul id="main-menu" class="sm sm-blue">
		<li>@Html.ActionLink("Home", "Index", "Home", new { Area = "Main" }, null)</li>
		<li>
			<a>帳戶總覽</a>
			<ul>
				<li><a>個人資產配置</a></li>
				<li><a>資產分析圖</a></li>
				<li><a>買賣歷史紀錄</a></li>
			</ul>
		</li>
		<li>
			<a>現金資產</a>
			<ul>
				<li>@Html.ActionLink("現金收入", "Index", "CashIncomes", new { Area = "Cash" }, null)</li>
				<li>@Html.ActionLink("現金支出", "Index", "CashExpenses", new { Area = "Cash" }, null)</li>
			</ul>
		</li>

		<li>@Html.ActionLink("股票資產", "Index", "Stock", new { Area = "Stock" }, null)</li>

		<li>
			<a>外匯資產</a>
			<ul>
				<li>@Html.ActionLink("外匯首頁", "About", "Home", new { Area = "ForeignExchange" }, null)</li>
				<li>@Html.ActionLink("買進賣出", "Index", "FX", new { Area = "ForeignExchange" }, null)</li>
				<li>@Html.ActionLink("目前匯率", "History", "FX", new { Area = "ForeignExchange" }, null)</li>
			</ul>
		</li>

		<li>@Html.ActionLink("保險資產", "Index", "Insurances", new { Area = "InsurancesandFund" }, null)</li>
		<li>@Html.ActionLink("基金資產", "Index", "Funds", new { Area = "InsurancesandFund" }, null)</li>
		<li>
			<a id="xxx" href="#">@Session["User"]</a>
			<ul>
				<li>@Html.ActionLink("修改密碼", "ChangePassword", "Account", new { Area = "" }, null)</li>
				<li>@Html.ActionLink("登出", "Logout", "Account", new { Area = "" }, null) </li>
			</ul>
		</li>
	</ul>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>
				&copy; @DateTime.Now.Year - 資訊策進會MSIT119
				<img src="~/images/home.png" />
			</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/jsgrid")
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	@*3Dscroll*@
	<script src="~/Areas/Main/3DScroll/jquery.tiltedpage-scroll.js"></script>
	@*NavBar*@
	<script src="~/Areas/Main/Smartmenus/jquery.smartmenus.js"></script>
	@*Notify*@
	<script src="~/Areas/Main/Notify.js/notify.js"></script>

	<script src="~/Content/Chart.js/Chart.min.js"></script>
	<script src="~/Content/Chart.js/Utility.js"></script>
	<script src="~/Content/Chart.js/Colors.js"></script>

	<script>
		$(function () {
			$('#main-menu').smartmenus();

			var z = $("#xxx").text();
			$("#xxx").notify(
				"Welcome  " + z, "success",
				{ position: "bottom" }
			);
		});
	</script>

	@RenderSection("scripts", required: false)
</body>
</html>
