@model IEnumerable< F1005.Models.Fund>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyOrSell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Units)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashFlow)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FundName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyOrSell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Units)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CashFlow)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SerialNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.SerialNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SerialNumber })
        </td>
    </tr>
}

</table>
