@model IEnumerable<F1005.Models.CashExpense>

@{
	ViewBag.Title = "Index";
}

@*<h2>Index</h2>

	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ExCashType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ExAmount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ExDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ExNote)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SummaryTable.TradeType)
			</th>
			<th></th>
		</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.UserName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ExCashType)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ExAmount)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ExDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ExNote)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.SummaryTable.TradeType)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id=item.ExCashID }) |
				@Html.ActionLink("Details", "Details", new { id=item.ExCashID }) |
				@Html.ActionLink("Delete", "Delete", new { id=item.ExCashID })
			</td>
		</tr>
	}

	</table>*@

@*jsGrid Table*@
<div class="container" style="background-color:lavenderblush">
	<div class="jumbotron">
		<h2 style="font-family:'Microsoft JhengHei'"><i class="glyphicon glyphicon-th-list"></i>  現金支出明細表</h2>
	</div>
	<div id="jsGridExpense"></div>
	<div>
		<h2 id="ExpenseBalance"></h2>
	</div>
</div>

@*現金支出統計圖*@
<div class="container" style="background-color:lavenderblush">
	<div class="jumbotron">
		<h2 style="font-family:'Microsoft JhengHei'"><i class="glyphicon glyphicon-stats"></i>  支出紀錄統計圖</h2>
	</div>
	<div class="col-md-8 col-md-offset-2" id="xx">
		<canvas id="CashExpenseHis"></canvas>
	</div>
</div>


@section scripts{
	<script>
		$(function () {
			init();
			GetExpenseHis();
			GetBalance();
		});

		function GetBalance() {
			$.ajax({
				type: "Get",
				url:"@Url.Action("GetExpenseBalance", "CashExpenses")"
			}).done(function (res) {
				document.getElementById("ExpenseBalance").innerHTML = "<h2>" + " 目前總支出:  " + res + "</h2>";
				document.getElementById("ExpenseBalance").setAttribute("class", "text-right text-danger");
			})
		};


		function init() {
				$.ajax({
					type: "Get",
					url: "@Url.Action("GetAllExpense", "CashExpenses")",
				}).done(function (res) {
					var MyDateField = function (config) {
						jsGrid.Field.call(this, config);
					};

					MyDateField.prototype = new jsGrid.Field({

						css: "date-field",            // redefine general property 'css'
						align: "center",              // redefine general property 'align'

						myCustomProperty: "foo",      // custom property

						sorter: function (date1, date2) {
							return new Date(date1) - new Date(date2);
						},

						itemTemplate: function (value) {
							return new Date(value).toDateString();
						},

						insertTemplate: function (value) {
							return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date() });
						},

						editTemplate: function (value) {
							return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
						},

						insertValue: function () {
							return this._insertPicker.datepicker("getDate").toISOString();
						},

						editValue: function () {
							return this._editPicker.datepicker("getDate").toISOString();
						}
					});

					jsGrid.fields.date = MyDateField;
					var filter = $("#grid").jsGrid("getFilter");

					var Ttype = [
						{ Name: "---請選擇---", Id: 0 },
						{ Name: "現金", Id: 1 },
						{ Name: "股票", Id: 2 },
						{ Name: "外匯", Id: 3 },
						{ Name: "基金", Id: 4 },
						{ Name: "儲蓄險", Id: 5 }
					];

					$("#jsGridExpense").jsGrid({
						width: "100%",
						height: "400px",

						//filtering: true,
						inserting: true,
						editing: true,
						sorting: true,
						paging: true,
						autoload: true,
						pageSize: 10,
						pageButtonCount: 5,
						deleteConfirm: "確定要刪除這筆資料?",
						pagerFormat: "頁數: {first} {prev} {pages} {next} {last}    {pageIndex} 之 {pageCount}",
						pagePrevText: "上一頁",
						pageNextText: "下一頁",
						pageFirstText: "第一頁",
						pageLastText: "最終頁",
						noDataContent: "目前沒有紀錄",

						data: res,

						controller: {
							loadData: function (filter) {
								return $.ajax({
									type: "GET",
									url: "@Url.Action("GetAllExpense", "CashExpenses")",
									data: filter
								});
							},

							insertItem: function (item) {
								return $.ajax({
									type: "POST",
									url: "@Url.Action("InsertExpense", "CashExpenses")",
									data: item
								}).done(function () {
									$("#jsGridExpense").jsGrid("loadData");
									$('#xxx').notify("修改成功", "success", { position: "bottom" });
									GetExpenseHis();
									GetBalance();
								})
							},

							updateItem: function (item) {
								return $.ajax({
									type: "PUT",
									url: "@Url.Action("EditExpense", "CashExpenses")",
									data: item
								}).done(function () {
									$("#jsGridExpense").jsGrid("loadData");
									$('#xxx').notify("修改成功", "success", { position: "bottom" });
									GetExpenseHis();
									GetBalance();
								});
							},

							deleteItem: function (item) {
								var id = item.ExCashID;
								return $.ajax({
									type: "Delete",
									url: "@Url.Action("DeleteExpense", "CashExpenses")/" + id,
									data: item
								}).done(function (res) {
									$("#jsGridExpense").jsGrid("loadData");
									$('#xxx').notify("刪除成功", "success", { position: "bottom" });
									GetExpenseHis();
									GetBalance();
								});
							},
						},

						fields: [
							{ name: "ExCashID", type: "text", title: "交易序號", width: 100, inserting: false },
							{ name: "UserID", type: "text", title: "使用者代號", width: 100 },
							{ name: "ExCashType", type: "select", title: "交易類別", width: 100, items: Ttype, valueField: "Id", textField: "Name"},
							{ name: "ExAmount", type: "text", title: "支出金額", width: 100 },
							{ name: "ExDate", type: "date", title: "日期", width: 100 },
							{ name: "ExNote", type: "text", title: "我的筆記", width: 100, sorting: false },
							{ type: "control" }
						],

					});
				}).fail(function (err) {
					alert("Error");
				});


		};//init tail


		//Draw Date Cash
        function GetExpenseHis() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetExpenseHis", "CashExpenses")",
            data: null,
            dataType: "json",
            success: function (response) {
                var MyDate = [];
                var MyAmount = [];
                for (var i = 0; i <= response.length - 1; i++) {
                    MyDate.push(response[i].MyDate);
                    MyAmount.push(response[i].Amount)
                };
				var ctx = document.getElementById("CashExpenseHis").getContext("2d");
                var myBarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: MyDate,
                        datasets: [{
                            label: "現金支出歷史紀錄",
							data: MyAmount,
                            backgroundColor: [
								'rgba(255,99,135,0.2)',
								'rgba(255,99,135,0.2)',
								'rgba(255,99,135,0.2)',
								'rgba(255,99,135,0.2)',
								'rgba(255,99,135,0.2)',
								'rgba(255,99,135,0.2)',
                            ],
                            borderColor: [
								'rgba(255,99,132,1)',
								'rgba(255,99,132,1)',
								'rgba(255,99,132,1)',
								'rgba(255,99,132,1)',
								'rgba(255,99,132,1)',
								'rgba(255,99,132,1)',
                            ],
                            borderWidth:2
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [
                                {
                                    ticks: { beginAtZero: true }
                                }],
                        }
                    }
                });
            }
        });
		}


	</script>
}