@model IEnumerable<F1005.Areas.Main.Controllers.RssViewModel>

@{
	ViewBag.Title = "Index";
}

@*<h2>Index</h2>

	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Link)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PubDate)
			</th>
			<th></th>
		</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Link)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PubDate)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id=item.Title }) |
				@Html.ActionLink("Details", "Details", new { id=item.Title }) |
				@Html.ActionLink("Delete", "Delete", new { id=item.Title })
			</td>
		</tr>
	}

	</table>*@


@section styles{
	<style>
		hr.style-three {
			border: 0;
			border-bottom: 1px dashed #ccc;
			background: #999;
		}
	</style>
}

	<div class="wrapper">
		<div class="main">
			<div class="header">
				<h1 style="text-align:center">Welcome to Personal Asset Management</h1>
				<div class="jquery-script-ads">
					<script type="text/javascript"
							src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				</div>
			</div>
			<section class="page1">
				<div class="page_container">
					<h1>
						<a href="" target="_blank">
							Travel to Sydney, Australia<br>
							<small>Completed on 14 Feb 2014</small>
						</a>
					</h1>
					@*<img src="~/Image/img100.jpg" style="width:1000px;height:500px" />*@
				</div>
			</section>

			<section class="page2">
				<div class="page_container">
					<h1>
						<a href="" target="_blank">
							Visit Uluru (Ayers Rock), Australia<br>
							<small>Completed on 17 Feb 2014</small>
						</a>
					</h1>
					@*<img src="~/Image/img101.png" style="width:1000px;height:500px"  />*@
				</div>
			</section>

			<section class="page3">
				<div class="page_container">
					<h1>
						<a href="" target="_blank">
							Travel to ZhangJiaJie (Avatar's Mountain) in China<br>
							<small>Completed on 20 Jan 2014</small>
						</a>
					</h1>
					@*<img src="~/Image/img102.jpg" style="width:1000px;height:500px" />*@
				</div>
			</section>

			@*<section class="page4">
				<div class="page_container">
					<h1>
						<a href="" target="_blank">
							Ride a Camel in the Australian Outback<br>
							<small>Completed on 17 Feb 2014</small>
						</a>
					</h1>
				</div>
			</section>

			<section class="page5">
				<div class="page_container">
					<h1>
						<a href="" target="_blank">
							Ride a Camel in the Australian Outback<br>
							<small>Completed on 17 Feb 2014</small>
						</a>
					</h1>
				</div>
			</section>*@

		</div>
	</div>

<div class="container">
	<h2>新聞頭條</h2>
	<hr />
	<div class="panel panel-primary">
		<div id="PanelID" class="panel-heading">即時財經新聞</div>
		<div class="panel-body">
			<table id="NewsTable" class="table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>新聞連結</th>
						<th>內容概敘</th>
						<th>發布時間</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td><a href="@item.Link">@item.Title</a>/></td>
							<td style="width:100px;">@item.Description</td>
							<td style="width:100px;">@item.PubDate</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section scripts{
	<script>
		$(document).ready(function () {
			$(".main").tiltedpage_scroll({
				angle: 40
			});
		});

		//$(function () {
		//	$('#NewsTable').hide();
		//	document.getElementById("PanelID").addEventListener("mouseover", ShowTable);
		//});

		//function ShowTable() {
		//	$('#NewsTable').fadeIn(1500);
		//}
	</script>
}
