@model F1005.Models.Insurances

@section Styles
	{
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Areas/Main/Smartmenus/sm-core-css.css" rel="stylesheet" />
    <link href="~/Areas/Main/Smartmenus/sm-blue.css" rel="stylesheet" />
}
<div class="col-lg-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-md-6" id="form">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <div class="form-group">
                @Html.LabelFor(model => model.InsuranceName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.InsuranceName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InsuranceName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control", id = "PurchaseDate" }, type = "date" })
                    @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WithdrawDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WithdrawDate, new { htmlAttributes = new { @class = "form-control", id = "WithdrawDate" } })
                    @Html.ValidationMessageFor(model => model.WithdrawDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PaymentPerYear, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PaymentPerYear, new { htmlAttributes = new { @class = "form-control", id = "PaymentPerYear" } })
                    @Html.ValidationMessageFor(model => model.PaymentPerYear, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PayYear, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PayYear, new { htmlAttributes = new { @class = "form-control", id = "PayYear" } })
                    @Html.ValidationMessageFor(model => model.PayYear, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Withdrawal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Withdrawal, new { htmlAttributes = new { @class = "form-control", id = "Withdrawal", type = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.Withdrawal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4 ">
                <div class="col-md-2 ">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        </div>

    }
    <div class="form-horizontal col-md-6">
        <button class="btn" id="GetIRR" onclick="GetIRR()">試算報酬</button>
        <h2 id="IRR">	</h2>
    </div>
</div>

<div>
    @Html.ActionLink("回到保險首頁", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Areas/Main/Smartmenus/jquery.smartmenus.js"></script>

    <script>
        function GetIRR() {
            var para =
            {
                "PurchaseDate": $('#PurchaseDate').val(),
                "WithdrawDate": $('#WithdrawDate').val(),
                "PayYear": $('#PayYear').val(),
                "PaymentPerYear": $('#PaymentPerYear').val(),
                "Withdrawal": $('#Withdrawal').val()
            }
            $.ajax({
                type: "POST",
                url: "/Insurances/CalculateIRR",
                data: para
            }).done(function (result) {
                $('#IRR').text(result);
            }).fail(function (err) {
                alert(err.responseText);
            });
        }
    </script>
}
