@model F1005.Models.Insurances

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<h4>Insurances</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.SerialNumber)

	<div class="form-group">
		@Html.LabelFor(model => model.InsuranceName, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.InsuranceName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.InsuranceName, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.WithdrawDate, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.WithdrawDate, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.WithdrawDate, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.PaymentPerYear, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.PaymentPerYear, new { htmlAttributes = new { @class = "form-control", value = Model.PaymentPerYear } })
			@Html.ValidationMessageFor(model => model.PaymentPerYear, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.PayYear, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.PayYear, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.PayYear, "", new { @class = "text-danger" })
		</div>
	</div>



	<div class="form-group">
		@Html.LabelFor(model => model.Withdrawal, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Withdrawal, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Withdrawal, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>
	<div class="form-group">
	<div class="col-md-offset-2 col-md-10">
		@Html.ActionLink("刪除這筆保單","Delete", new { id = Model.SerialNumber })
	</div>
</div>
    </div>
}

<div>
    @Html.ActionLink("回到保險首頁", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
