@model IEnumerable<F1005.Models.Insurances>
@section Styles
	{
	<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
}
@{
	ViewBag.Title = "Index";
}

<h2>My 儲蓄險</h2>

<p>
	@Html.ActionLink("試算/加入一筆保單", "Create")
</p>
<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#home">保險資產總覽</a></li>
	<li><a data-toggle="tab" href="#record">交易紀錄</a></li>
</ul>

<div class="tab-content">
	<div id="home" class="tab-pane fade in active">
		<h3>未實現保險資產</h3>
		<table class="table">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.InsuranceName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PurchaseDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.WithdrawDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PaymentPerYear)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PayYear)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Withdrawal)
				</th>
				<th>
					<span>解約/修改</span>
				</th>
			</tr>

			@foreach (var item in Model.Where(model => model.PurchaseOrWithdraw == true&&model.Withdrawed==false))
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.InsuranceName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PurchaseDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.WithdrawDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PaymentPerYear)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PayYear)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Withdrawal)
					</td>
					<td>
						@Html.ActionLink("解約這筆保單", "Withdraw", new { id = item.SerialNumber })
						<br />
						@Html.ActionLink("檢視/修改保單", "Edit", new { id = item.SerialNumber })
					</td>
				</tr>
			}

		</table>
		<hr />
		<h3>已實現保險資產</h3>
		<table class="table">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.InsuranceName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PurchaseDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.WithdrawDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PaymentPerYear)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PayYear)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Withdrawal)
				</th>
			</tr>

			@foreach (var item in Model.Where(model => model.PurchaseOrWithdraw == false))
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.InsuranceName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PurchaseDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.WithdrawDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PaymentPerYear)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PayYear)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Withdrawal)
					</td>
				</tr>
			}

		</table>
	</div>

		

	<div id="record" class="tab-pane fade">
		<h3>交易紀錄</h3>
		<table id="myGrid"></table>
		<div id="pager"></div>
	</div>

</div>

@section scripts
	{
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script type="text/javascript">

	$("#myGrid").jqGrid({                  //將id=myGrid的DOM元件轉換成jqGrid
		url: '/Insurances/GetData',  //取得資料的URL，這邊我會到controller取得資料
		datatype: 'json',                  //資料回傳的類型，有json,xml...等等
		jsonReader: {                      //jqgrid讀取json的時候，需要配置jsonReader才能讀取。
			repeatitems: false              //預設是true，但是我回傳的json的內容並不會按照順序回傳，故這邊要設定false，讓jsonReader是用搜尋name去塞入對應的值
		},
		mtype: 'GET',                      //ajax的類型，有GET和POST
		colModel: [                        //這個是欄位的屬性，name屬性必須要與後端回傳的欄位名稱相同，另外也可以顯示欄位名稱，樣式等等。
			{ name: 'SerialNumber', label: '交易序號' },
			{ name: 'InsuranceName', label: '保險名稱' },
			{ name: 'PurchaseDate', label: '購買日期'},
			{ name: 'WithdrawDate', label: '解約日期', sorttype: 'date' }, 
			{ name: 'PaymentPerYear', label: '年繳保費', sorttype: 'number' },
			{ name: 'PayYear', label: '繳費年期', sorttype: 'number' },
			{ name: 'PurchaseOrWithdraw', label: '購買or解約', sorttype: 'number' },
			{ name: 'Withdrawal', label: '解約金', sorttype: 'number' },
			{ name: 'Cashflow', label: '現金流', sorttype: 'number' }
		],
		pager: '#pager',                 //這是對應到<div>的id，會透過<div>變成分頁的相關UI
		width: 'auto',                   //jqGrid的寬度
		height: 'auto',                  //jqGrid的高度
		rowNum: 10,                      //jqGrid預設顯示筆數
		rowList: [5, 10, 20, 50],        //jqGrid可選擇每頁顯示幾筆
		sortname: 'PurchaseDate',                //jqGrid預設排序欄位名稱
		sortorder: "asc",                //jqGrid預設排序方式asc升冪，desc降冪
		viewrecords: false,               //是否要顯示總筆數
		caption: '保險交易紀錄',           //jqGrid標題欄顯示的文字
		loadonce: true                   //是否只載入一次
	});

</script>
}

